.slugButton {
    background: #c00;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    width: inherit;
    height: 35px;
    bottom: 40px;
    left: 5px;
    right: 5px;
}